    <div class="container">
        <div class="copyright">
            <h3>&copy; Alex Petropoulos 2020</h3>
        </div>
     </div>

    <script src="/scripts/script.js" type="text/javascript"></script>
</body>

</html>