<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tranquility - a responsive RESTful blog template -</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mukta:400,700|Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
    <div class="navbar-container">
        <div class="navbar">
            <a class="navbar-item" href="#"><i class="fas fa-fire-alt"></i> Tranqulity</a>
            <a class="navbar-item" href="/blogs">Home</a>
            <a class="navbar-item" href="/blogs/new">New Post</a>
            <a class="navbar-item" href="#">Services</a>
            <a class="navbar-item" href="#">Contact</a>
            <a class="navbar-item" href="#">CPanel</a>
        </div>
    </div>

