<%- include('partials/header') %>

<div class="form-container">
    <div class="form-wrapper">
        <form action="/blogs" method="POST">
            <ul class="flex-outer">
                <li>
                    <label for="first-name">Blog Title</label>
                    <input type="text" name="blog[title]" placeholder="Title Goes Here" required>
                </li>
                <li>
                    <label for="last-name">Header Image</label>
                    <input type="text" name="blog[image]" placeholder="Image URL">
                </li>
                <li>
                    <label for="post-content">Post Content</label>
                    <textarea rows="12" name="blog[body]" required></textarea>
                </li>
                <li>
                    <button type="submit">Submit</button>
                </li>
            </ul>
        </form>
    </div>

</div>


<%- include('partials/footer') %>