i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

#previewImage {
    width: 150px;
    height: 80px;
    box-shadow: 1px 1px 5px black;
    
}